installed_packages.log
# Temporary profiles (prefix with tmp_)
profiles/tmp_*
config/.git-credentials
config/.config/nvim/.env
config/.config/nvim/lua/plugins/dankcolors.lua
config/.config/kitty/dank-tabs.conf
config/.config/kitty/dank-theme.conf
config/.config/hypr/dms/colors.conf
config/.config/alacritty/dank-theme.toml
config/.config/niri/dms/colors.kdl
/config/.config/tmux/scripts/session-mng/servers.json
/config/.config/tmux/scripts/session-mng/pass1.txt
