customCommands:
  - key: <c-n>
    description: Pick AI commit (auto-select)
    command: aicommit2 --include-body --auto-select
    context: files
    output: logWithPty

  - key: <c-w>
    description: 'Create worktree for new branch'
    context: 'localBranches'
    output: terminal
    prompts:
      - type: 'input'
        title: 'New branch name'
        key: 'Branch'
        suggestions:
          preset: 'branches'
    command: 'bash $HOME/.config/lazygit/git-worktree-new {{.Form.Branch | quote}}'

  - key: '<c-r>'
    description: 'Create GitHub repo if no remote'
    context: 'status'
    output: logWithPty
    prompts:
      - type: 'menu'
        title: 'Repository visibility'
        key: 'Visibility'
        options:
          - name: 'Private'
            description: 'Only you / org members'
            value: '--private'
            key: 'p'
          - name: 'Public'
            description: 'Visible to everyone'
            value: '--public'
            key: 'u'
      - type: 'input'
        title: 'Repository name'
        key: 'RepoName'
        initialValue: "{{ runCommand \"sh -c 'basename $(git rev-parse --show-toplevel)'\" }}"
    command: >
      bash -c '
        # clear GITHUB_TOKEN env var first
        GITHUB_TOKEN=""

        
        if git remote get-url origin >/dev/null 2>&1; then
          echo "❌ Remote already exists. Aborting."
          exit 1
        fi

        branch=$(git branch --show-current)

        gh repo create "{{.Form.RepoName}}" {{.Form.Visibility}} \
          --source=. \
          --remote=origin \
          --push

        echo "✅ Repository {{.Form.RepoName}} created and pushed ($branch)"
      '

# NOTE: add custom command for:
# - [ ] create a PR aginst
# - [x] see the git diff-tool thing (put nvim as the default)
# - [ ] add create PR etc support
# - [ ] checkout a PR using gh

git:
  pagers:
    - pager: delta --dark --paging=never

