// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}


// # Example windowrule v2
// windowrulev2 = float,class:^(Pqiv)$
// windowrulev2 = float,class:^(mpv)$
// windowrulev2 = float,class:^(nm-connection-editor)$
// windowrulev2 = workspace 2,class:^(.*brave.*)$
// windowrulev2 = workspace 1,class:^(.*kitty.*)$
// windowrulev2 = workspace 3,class:^(.*discord.*)$
// windowrulev2 = workspace 10,class:^(.*spotify.*)$

// windowrulev2 = suppressevent maximize, class:.* # You'll probably like this.
// windowrulev2=noblur,class:^()$,title:^()$

window-rule {
    // mpv and qiv are popular media viewers that don't need borders or a focus ring.
    match app-id=r#"(mpv|qiv)"#
    open-floating true
}

prefer-no-csd
window-rule {
    geometry-corner-radius 4
    open-maximized true
    clip-to-geometry true
    draw-border-with-background false
}
